<div class="app-root">
  <nav class="bg-red-500 w-full  h-20 flex justify-center items-center">
    <a href="/" class="text-white text-4xl">Links Vote</a>
  </nav>
  <div class="w-auto rounded overflow-hidden shadow-lg m-3">
    <h3 class="text-2xl bg-red-500	text-white text-2xl text-center p-4">{{titles}}</h3>
    <form class="flex flex-col">
        <label class="p-2 text-red-500 text-xl" for="title">Title:</label>
        <input type="text" name="title" #title class="shadow appearance-none border rounded w-4/5 py-2 px-3 text-gray mr-auto ml-auto" autofocus>
        <label for="link" class="p-2 text-xl text-red-500">Link:</label>
        <input type="text" name="link" #link class="shadow appearance-none border rounded w-4/5 py-2 px-5 text-gray mr-auto ml-auto">
        <button (click)="addLink(title,link)" class="bg-red-500 text-xl hover:bg-blue-600 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-blue-500 m-4 rounded">
            Submit Link
        </button>
    </form>
</div>

  <app-link *ngFor="let link of links" [link] = "link" class="text-center min-w-full"></app-link>
  
</div>

